*{
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0 auto;
}

body {
    padding: 50px;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    border: 1px solid grey;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 3px;
    background-color: #3B5998;
    color: white;
}

.js-search-form {
    text-align: center;
    margin-top: 70px;
}

.js-query {
    /*padding: 5px;*/
    padding: 5px;
    width: 50%;
    height: 35px;
    color: #CBCBCB;
    font-size: 18px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    height: 35px;
    width: 100px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: #3B5998;
    font-size: 18px;
    color: white;
    border-color: #3B5998;
}

.card-img-top {
    display: inline;
    vertical-align: top;
    /*width: 330px;*/
    height: 200px;
    margin-right: 10px;
    margin-bottom: 15px;
} 

.js-search-results {
    /*text-align: center;*/
    margin-top: 60px;
}










